body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1019px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:337px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:250px;
  width:300px;
  height:337px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:345px;
  width:100px;
  height:16px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3_input {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-2px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:366px;
  width:100px;
  height:16px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4_input {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-2px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:388px;
  width:100px;
  height:16px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5_input {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-2px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:409px;
  width:100px;
  height:16px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6_input {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-2px;
}
#u7 {
  position:absolute;
  left:833px;
  top:449px;
}
#u7_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background-image:none;
}
#u7_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u7_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u7_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:256px;
  width:300px;
  height:324px;
  overflow:hidden;
  visibility:hidden;
}
#u10_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:324px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:324px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.466666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:324px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:64px;
  width:259px;
  height:179px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:204px;
  width:70px;
  height:20px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:78px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u10_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:324px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:324px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.466666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:324px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:64px;
  width:259px;
  height:179px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:204px;
  width:70px;
  height:20px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:78px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:118px;
  width:174px;
  height:18px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:262px;
  width:159px;
  height:18px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C61417;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:250px;
  width:44px;
  height:36px;
  color:#C61417;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:25px;
  width:200px;
  height:60px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:196px;
  word-wrap:break-word;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:143px;
  width:200px;
  height:60px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:260px;
  width:200px;
  height:60px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:378px;
  width:200px;
  height:80px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:196px;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C61417;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:147px;
  width:225px;
  height:53px;
  color:#C61417;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:85px;
  width:0px;
  height:0px;
}
#u30_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u30_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:45px;
  width:18px;
  height:19px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:203px;
  width:0px;
  height:0px;
}
#u31_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u31_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:320px;
  width:0px;
  height:0px;
}
#u32_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u32_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:45px;
  width:18px;
  height:19px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:388px;
  width:200px;
  height:60px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:196px;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:515px;
  width:200px;
  height:60px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:196px;
  word-wrap:break-word;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:458px;
  width:0px;
  height:0px;
}
#u35_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u35_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:418px;
  width:0px;
  height:0px;
}
#u36_seg0 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-4px;
  width:79px;
  height:8px;
}
#u36_seg1 {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:-9px;
  width:19px;
  height:18px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:388px;
  width:0px;
  height:0px;
}
#u37_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-219px;
  width:8px;
  height:219px;
}
#u37_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-219px;
  width:179px;
  height:8px;
}
#u37_seg2 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:-224px;
  width:19px;
  height:18px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-203px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
